<p>Welcome to Life Maps.</p>

<h2>About</h2>
<p>[about]</p>

<h2>Latest timelines</h2>
<ul><% @latest_timelines.each do |timeline| %>
    <li><%= link_to timeline[:name], timeline %></li><% end %>
</ul>
<p class="more"><%= link_to 'view all timelines', timelines_path %></p>
