<h1>Editing timeline</h1>

<% form_for(@timeline) do |f| %>
<%= render :partial => f %>
  <p>
    <%= f.submit "Update timeline" %>
  </p>
<% end %>

<%= link_to 'cancel', timelines_path %>
<%= link_to 'view timeline', @timeline %>
